@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <section class="col-sm-8 col-sm-push-2">
        <div class="main">
            <h1>Main content</h1>
        </div>
    </section>
    <aside class="col-sm-2 col-sm-pull-8">
        <div class="profile">
                <div style="background-image: url('@Url.Content("~/images/background.jpg")');" class="profile-background">
                </div>
                <div class="img-circle profile-image-initials hidden">
                    <h1>AB</h1>
                </div>
                <img src="~/images/profile.jpg" class="img-circle profile-image" />
                <h3>Aman Beg</h3>
            <div class="row">
                <div class="col-sm-12 profile-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vulputate quis quam vitae scelerisque. Etiam nec cursus nibh. Duis quis urna nec magna egestas facilisis quis at massa.
                </div>
                <div class="col-md-6">
                    <label>Friends</label>
                    <p class="form-control-static">14</p>
                </div>
                <div class="col-md-6">
                    <label>Courses Taken</label>
                    <p class="form-control-static">12</p>
                </div>
                <div class="col-sm-12">
                    <div class="row profile-buttons">
                        <div class="col-md-6 hidden-xs hidden-sm"></div>
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-block" type="button">Edit</button>
                        </div>
                        <div class="col-md-6 hidden">
                            <button class="btn btn-primary btn-block" type="button">Save</button>
                        </div>
                        <div class="col-md-6 hidden">
                            <button class="btn btn-danger btn-block" type="button">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </aside>
    <aside class="col-sm-2"></aside>
</div>